.claude
*__pycache__
*.parquet
*_audio
*_audio_speech_stats
*ipynb_checkpoints
Untitled*.ipynb
vc-evaluation/chatterbox
vc-evaluation/common-voice
vc-evaluation/dia-tts
vc-evaluation/multilingual-tts*
vc-evaluation/*-similarity
vc-evaluation/orpheus
vc-evaluation/*-cer
vc-evaluation/fish-speech
vc-evaluation/fishspeech2
tts-evaluation/multilingual-tts*
